{% extends 'nav.html' %} {% block btn_add %}
<a
  onclick='formModal("{% url "crear_canton" %}", "Adicionar Cantón")'
  class="btn btn-success btn-sm d-flex align-items-center gap-2 px-3 py-2 rounded-2 fs-7 shadow-sm"
  ><i class="fa-solid fa-plus fs-7"></i
  ><span class="fw-medium">Adicionar</span></a
>
{% endblock %} {% block block_thead %}
<tr>
  <th class="fs-7">#</th>
  <th class="fs-7">Cantón</th>
  <th class="fs-7">Provincia</th>
  <th class="fs-7">Acciones</th>
</tr>
{% endblock %} {% block block_tbody %} {% for canton in cantones %}
<tr>
  <td class="fs-7">{{ forloop.counter }}</td>
  <td class="fs-7">{{ canton.nombre }}</td>
  <td class="fs-7">{{ canton.provincia.nombre }}</td>
  <td class="fs-7">
    <div class="dropdown">
      <button
        class="btn btn-light btn-rounded rounded-3 btn-sm fs-7"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
      >
        <i class="fa-solid fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-start dropdown-menu-dark">
        <li>
          <a
            onclick='formModal("{% url "editar_canton" canton.pk %}", "Editar un Cantón")'
            class="dropdown-item cursor-pointer fs-7"
          >
            <i class="fa-solid fa-pen"></i> Editar</a
          >
        </li>
        <li>
          <a
            onclick="eliminarAjax('Está por eliminar un cantón', '¿Está seguro de realizar esta acción?', '{% url 'eliminar_canton' canton.pk %}')"
            class="dropdown-item cursor-pointer fs-7"
          >
            <i class="fa-solid fa-trash"></i> Eliminar
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
{% endfor %} {% endblock %}
