{% extends 'base.html' %} {% block content %} {% block btn_add %}

<a
  onclick='formModal("{% url "crear_persona" %}", "Adicionar un personal", "modal-lg")'
  class="btn btn-success btn-sm d-flex align-items-center gap-2 px-3 py-2 rounded-2 fs-7 shadow-sm"
>
  <i class="fa-solid fa-plus fs-7"></i>
  <span class="fw-medium">Adicionar</span>
</a>
{% endblock %} {% block block_thead %}
<tr>
  <th class="fs-7">#</th>
  <th class="fs-7">Trabajador</th>
  <th class="fs-7">Cédula</th>
  <th class="fs-7">Correo</th>
  <th class="fs-7">Teléfono</th>
  <th class="fs-7">Acciones</th>
</tr>
{% endblock %} {% block block_tbody %} {% for persona in personas %}
<tr>
  <td class="fs-7">{{ forloop.counter }}</td>
  <td class="fs-7">{{persona.nombre_completo_minus}}</td>
  <td class="fs-7">{{persona.identificacion}}</td>
  <td class="fs-7">{{persona.email}}</td>
  <td class="fs-7">{{persona.telefono}}</td>
  <td class="fs-7">
    <div class="dropdown">
      <button
        class="btn btn-light btn-rounded rounded-3 btn-sm fs-7"
        type="button"
        data-bs-toggle="dropdown"
        data-bs-display="static"
        aria-expanded="false"
      >
        <i class="fa-solid fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
        <li>
          <a
            onclick='formModal("{% url "editar_persona" persona.pk %}", "Edición de datos del personal", "modal-lg")'
            class="dropdown-item cursor-pointer fs-7"
          >
            <i class="fa-solid fa-pen"></i> Editar
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="6" class="text-muted bg-light text-center fs-7">
    AÚN NO SE REGISTRA UN PERSONAL
  </td>
</tr>
{% endfor %} {% endblock %} {%endblock %}
