{% extends 'nav.html' %}
{% block content %}

    {% block block_thead %}
        <tr>
            <th class="fs-7">#</th>
            <th class="fs-7">Trabajador</th>
            <th class="fs-7">Cédula</th>
            <th class="fs-7">Correo</th>
            <th class="fs-7">Teléfono</th>
            <th class="fs-7">Estado</th>
            <th class="fs-7">Acciones</th>
        </tr>
    {% endblock %} {% block block_tbody %} {% for persona in personas %}
    <tr>
        <td class="fs-7">{{ forloop.counter }}</td>
        <td class="fs-7">{{persona.nombre_completo_minus}}</td>
        <td class="fs-7">{{persona.identificacion}}</td>
        <td class="fs-7">{{persona.email}}</td>
        <td class="fs-7">{{persona.telefono}}</td>
        <td class="fs-7">
            {% if persona.status %}
                <i class="fa fa-check-circle fs-7 text-success"></i>
            {% else %}
                <i class="fa fa-times-circle fs-7 text-danger"></i>
            {% endif %}
        </td>
        <td class="fs-7">
            <div class="dropdown">
                <button
                        class="btn btn-light btn-rounded rounded-3 btn-sm fs-7"
                        type="button"
                        data-bs-toggle="dropdown"
                        data-bs-display="static"
                        aria-expanded="false"
                >
                    <i class="fa-solid fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                    <li>
                        <a onclick='formModal("{% url "editar_persona" persona.pk %}", "Edición de datos del personal", "modal-lg")'
                           class="dropdown-item cursor-pointer fs-7">
                            <i class="fa-solid fa-pen"></i> Editar
                        </a>
                    </li>
                    <li>
                        {% if persona.status %}
                        <a onclick="eliminarAjax('Está por inactivar el acceso al sistema de: {{ persona }}', '¿Está seguro de realizar esta acción?', '{% url 'inactivar_persona' persona.pk %}')"
                           class="dropdown-item cursor-pointer fs-7">
                            <i class="fa-solid fa-trash"></i> Inactivar
                        </a>
                        {% else %}
                        <a onclick="eliminarAjax('Está por reactivar el acceso al sistema de: {{ persona }}', '¿Está seguro de realizar esta acción?', '{% url 'inactivar_persona' persona.pk %}')"
                           class="dropdown-item cursor-pointer fs-7">
                            <i class="fa-solid fa-check-circle"></i> Activar
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-muted bg-light text-center fs-7">
            AÚN NO SE REGISTRA UN PERSONAL
        </td>
    </tr>
{% endfor %} {% endblock %} {%endblock %}
