{% extends 'nav.html' %}

{% block block_thead %}
    <tr>
        <th class="fs-7">#</th>
        <th class="fs-7">Categoria</th>
        <th class="fs-7">Prioridad</th>
        <th class="fs-7 text-center">Acciones</th>
    </tr>
{% endblock %}

{% block block_tbody %}
    {% for categoria in categorias %}
        <tr>
            <td class="fs-7">{{ forloop.counter }}</td>
            <td class="fs-7 fw-semibold">{{ categoria.nombre }}</td>
            <td class="fs-7 text-muted">{{ categoria.prioridad|default:"Sin prioridad" }}</td>
            <td class="text-center position-relative fs-7">
                <div class="d-flex align-items-center justify-content-center gap-2">

                    <a onclick='formModal("{% url "editar_modulo_categoria" categoria.pk %}", "Editar Categoria")'
                       href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-title="Editar">
                        <i class="fa-solid fa-pen-to-square fs-6 icon-color"></i>
                    </a>

                    <a onclick="eliminarAjax('Está por eliminar una categoria', '¿Está seguro de realizar esta acción?', '{% url 'inactivar_modulo_categoria' categoria.pk %}')"
                       href="javascript:void(0);"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-title="Eliminar">
                        <i class="fa-solid fa-trash fs-6 icon-color"></i>
                    </a>
                </div>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="4" class="text-muted fs-7 text-center py-3">
                Aún no se registran Grupos
            </td>
        </tr>
    {% endfor %}
{% endblock %}